* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
}

.square1 {
  height: 50px;
  width: 50px;
  background-color: lightgreen;
}

.square2 {
  height: 50px;
  width: 50px;
  background-color: lightblue;
}

.square3 {
  height: 50px;
  width: 50px;
  background-color: lightcoral;
}

.square {
  /* Animation here */
  animation: spin 5s infinite ease;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
